@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

/* Header Styles */
header.ant-layout-header {
  position: fixed;
  z-index: 1;
  width: 100%; 
  padding: 0;
}

#logo {
  width: 120px;
  line-height: 64px;
  margin: 0 20px;
  float: left;
}

#logo h3 {
  margin: 0.5em auto;
}

#hamburger {
  display: none;
  padding: 0px 20px;
  cursor: pointer;
  float: right;
  font-size: 20px;
  border-radius: 2px
}

#hamburger:hover {
  background-color: #1890ff;
  color: white;
}

@media screen and (max-width: 768px) {
  .ant-layout-header {
    background-color: white;
    height: 50px;
    line-height: 50px;
  }

  .ant-layout-header ul {
    display: none;
  }

  #logo {
    height: 50px;
  }

  #logo h3 {
    line-height: 1;
  }

  #hamburger {
    display: inline;
    height: 100%;
  }
}
